#!/usr/bin/make -f

%:
	dh $@ --without=autoreconf

override_dh_auto_configure:
	./configure --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info

override_dh_auto_build:
	$(MAKE)

override_dh_auto_test:
	$(MAKE) -C tests check TESTSUITEFLAGS='-j2 --verbose' VERBOSE=1

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	chrpath -d debian/tmp/usr/bin/* || true
	cp contrib/gsmsmsspool contrib/gsmsmsrequeue debian/tmp/usr/bin

override_dh_auto_clean:
	# avoid distclean invoking missing/automake
	$(MAKE) clean || true
	rm -f build-stamp configure-stamp config.log config.status
	rm -f po/de.gmo
	find . -name '*.o' -o -name '*.lo' -o -name '*.la' -o -name '*.a' -o -name '*.so*' -o -name '*.deps' -o -name '*.d' -o -name '*.log' -o -name '*.trs' -o -name '*.tmp' -o -name '*.cache' -o -name '*.bak' -o -name 'Makefile' | xargs -r rm -rf
	dh_clean
